body{
	background: rgb(209,209,209);
	background: radial-gradient(circle, rgba(209,209,209,1) 0%, rgba(91,91,91,1) 100%);
}

.navbar-container{
	z-index: 1;
	width: 88px;
	right: 0;
	position: fixed;
}

.controls{
	z-index: 1;
	position: fixed;
	right: 0;
	width: 250px;
	background-color: #343a40 !important;
	color: antiquewhite;
}

canvas{
	z-index: -1;
}

.btn{
	padding: 0;
	width: 200px;
	height: 68px;
	font-size: 30px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input{
	width: 100%;
}

.d-inline-flex{
	display: inline-flex;
	align-items: center;
}

a{
	color: inherit;
	text-decoration: none;
}

.arjs-loader {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.arjs-loader div {
	text-align: center;
	font-size: 1.25em;
	color: white;
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
